{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <form action="/change_password" method="post">
            <div class="mb-3">
                <input placeholder="New Password" name="new-password" autocomplete="off" autofocus class="form-control mx-auto w-auto" type="password">
            </div>
            <div class="mb-3">
                <input placeholder="Confirm New Password" name="new-confirmation" autocomplete="off" autofocus class="form-control mx-auto w-auto" type="password">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Change</button>
            </div>
        </form>
    </main>
{% endblock %}