{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <main class="container py-5 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-start" >Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end" >Price</th>
                    <th class="text-end" >Transacted</th>
                </tr>
            </thead>
            <tbory>
                {% for c in range(qnt) %}
                <tr>
                    <td class="text-start"> {{shares[c]['symbol']}}</td>
                    <td class="text-end">   {{shares[c]['shares_number']}}</td>
                    <td class="text-end">   {{shares[c]['price'] | usd}}</td>
                    <td class="text-end">   {{shares[c]['transacted']}}</td>
                </tr>
                {% endfor %}
            </tbory>
        </table>
    </main>
{% endblock %}