/* Transições e fonte padrão */
* {
  transition: 0.15s;
  font-family: 'Titillium Web', sans-serif;
  scroll-behavior: smooth;
}

/* Estilização da barra de navegação */
nav {
  font-weight: 300;
  font-size: 18px;
}

/* Estilização do corpo da página */
body {
  background-image: url(/static/background_white.svg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilização do conteúdo principal */
main {
  border-radius: 10px;
  box-shadow: 0px 0px 4px #696e72;
}

/* Estilização dos botões da navbar */
#navbarBtn button {
  width: 50px;
  height: 50px;
}

/* Efeito hover nos botões, links e botões de acordeão */
#navbarBtn button:hover, a:hover, a.nav-link:hover, button.accordion-button:hover {
  transform: scale(1);
  color: #044884;
}

/* Efeito de clique nos botões e links */
#navbarBtn button:active, a:active {
  transform: scale(0.9);
}

/* Estilização do logo do site */
a#logoText {
  color: #044884;
  text-decoration: none;
}

/* Estilização do título de introdução */
div h1#introText {
  font-size: 48px;
  margin: 3% 2% 0% 2%;
}

/* Estilização do conteúdo principal */
#textContent {
  font-size: 20px;
  margin: 5%;
}

/* Centraliza o texto nos cards */
.card-title, .card-title a, .card-text {
  text-align: center;
  text-decoration: none;
}

/* Estilização de uma palavra específica para contraste */
#contrastWord {
  color: #044884;
  text-decoration: none;
  font-weight: 700;
}

/* Estilização do botão de envio */
#submitButton {
  width: fit-content;
  height: 45px;
  text-align: center;
  background-color: #044884;
}

/* Estilização das imagens dos cards e SVG */
div .card img, svg {
  width: 100%;
  height: 35vh;
}
