{% extends "layout.html" %}

{% block title %}
    Introdução
{% endblock %}

{% block main %}

    <div id="container">
        <h1>Introdução</h1>
        <div class="card text-bg-white mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Introdução</h5>
              <p>Bem-vindo ao EnemInfo, o seu guia completo para o Enem! Estudar para o Exame Nacional do Ensino Médio pode ser uma tarefa desafiadora, mas com as informações certas ao seu alcance, você estará um passo à frente na preparação.</p>
            </div>  
        </div>
        
        
        <p>O EnemInfo é um site dedicado a fornecer informações abrangentes sobre todas as matérias que caem no Enem. Sabemos que cada disciplina possui seus próprios desafios e pontos importantes a serem compreendidos. É por isso que reunimos todas as informações essenciais em um só lugar, para que você possa ter acesso fácil e rápido a tudo o que precisa saber.</p>

        <p>Aqui no EnemInfo, você encontrará detalhes sobre as principais matérias que são abordadas no exame, como Matemática, Português e Literatura, História, Geografia, Ciências da Natureza (Química, Física e Biologia), Ciências Humanas (Sociologia, Filosofia, etc.) e Língua Estrangeira (Inglês ou Espanhol). Para cada matéria, oferecemos um conteúdo completo e organizado, com informações teóricas, exemplos práticos, dicas de estudo e muito mais.</p>

        <p>Nosso objetivo é ajudar você a compreender os principais conceitos, desenvolver habilidades analíticas e fornecer recursos valiosos para o seu aprendizado. Queremos que você se sinta confiante e preparado(a) para enfrentar o Enem e obter o melhor resultado possível.</p>

        <p>Além das informações das matérias, o EnemInfo também oferece dicas de estudo, orientações sobre a estrutura do exame, recomendações de livros e materiais complementares, e até mesmo simulados para você praticar e se familiarizar com o formato das questões.</p>

        <p>Estamos aqui para tornar a sua jornada de preparação para o Enem mais suave e eficiente. Então, não perca tempo, explore o EnemInfo e comece a se preparar de forma estruturada e organizada. Estamos ao seu lado nessa jornada rumo ao sucesso no Enem!</p>

        <p>Prepare-se, estude com confiança e alcance seus objetivos. O EnemInfo está aqui para ajudá-lo(a) a conquistar um futuro brilhante!</p>
    </div>
    
{% endblock %}
