{% extends "layout.html" %} 
{% block title %} 
    Introdução 
{% endblock %} 


{% block main %}
    <div>
      <h1 class="card-title" id="introText">
        Bem-vindo ao EnemInfo, o seu guia completo para o Enem!
      </h1>

    </div>
        

    <p>
        Aqui no EnemInfo, você encontrará detalhes sobre as principais matérias que
        são abordadas no exame, como Matemática, Português e Literatura, História,
        Geografia, Ciências da Natureza (Química, Física e Biologia), Ciências
        Humanas (Sociologia, Filosofia, etc.) e Língua Estrangeira (Inglês ou
        Espanhol).
    </p>

    <p>
        Estamos aqui para tornar a sua jornada de preparação para o Enem mais suave
        e eficiente. Então, não perca tempo, explore o EnemInfo e comece a se
        preparar de forma estruturada e organizada. Estamos ao seu lado nessa
        jornada rumo ao sucesso no Enem!
    </p>

    <p>
        Prepare-se, estude com confiança e alcance seus objetivos. O EnemInfo está
        aqui para ajudá-lo(a) a conquistar um futuro brilhante!
    </p>
    </div>




    <script>
        let el = document.querySelector('#textLink')
        el.classList.add('ativado')
        el.style['font-weight'] = '700'
        el.style.color = '#044884'
    </script>

{% endblock %}

