<!DOCTYPE html>

<html lang="pt-br">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <script src="/static/index.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    
  </head>

  <body data-bs-theme="light" id="body">
    <!-- Self navbar-->
    <nav class="navbar navbar-expand-md navbar-light ml-auto mr-auto bg-body-secondary">
      <!-- Main navbar div-->
      <div class="container d-flex flex-row"> 
        <!-- Div of the logo img -->
        <div class="container-sm-9 m-auto py-4">
          <a href="/" class="navbar-brand m-auto"
            ><img
              src="/static/Images/Enem Logo.png"
              alt="Enem Logo"
              width="250"
          /></a>
        </div>
        <!-- Div from list of anchors -->
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav align-items-center ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link m-3" id="homeAnchor">Home</a>
            </li>
            <li class="nav-item">
              <a href="/contato" class="nav-link m-3" id="contactAnchor">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/sobre" class="nav-link m-3" id="aboutAnchor">About</a>
            </li>
          </ul>
        </div>
        <!-- Div of the buttons-->
        <div class="container-sm-3 m-auto p-3 d-flex" id="navbarBtn">

          <!-- botão de Toggle Navbar -->
          <button
            class="navbar-toggler d-flex align-items-center justify-content-center m-auto d-sm-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navodata-bs-toggle="
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- botão switch dos temas -->
          <button
            class="d-flex align-items-center navbar-toggler" onclick="switchTheme()" id="themeIcon">
            <span class="material-symbols-outlined"></span>
            <!-- botão de Switch Theme -->
          </button>

        </div>
      </div>
    </nav>
    <!-- Main Content -->
    <main
      class="container col-sm-7 lg-6 mt-3 mb-3 d-flex flex-column bg-body-secondary"
    >
      {% block main %}{% endblock %}
    </main>
    <!-- Footer -->
    <div class="bg-body-secondary ml-auto mr-auto">

      <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary m-auto">© 2023 INEP Enem</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="/static/Images/Enem Logo.png" alt="Logo Enem" class="col-md-4 mb-0 text-body-secondary">
        </a>
    
        <ul class="nav col-md-4 justify-content-end m-auto">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="/contato" class="nav-link px-2 text-body-secondary">Contact</a></li>
          <li class="nav-item"><a href="/sobre" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>

      </footer>

    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous">
    </script>

  </body>

</html>
