{% extends "layout.html" %}

{% block title %}
    Sobre
{% endblock %}

{% block main %}

    <div>
        <h2 class="text-center">Objetivo:</h2>
                <p class="text-center">Estou me preparando para o vestibular logo preciso estudar para me sair bem. Pensando nisso resolvi criar um site que me ajudasse com isso, onde as matérias e conteúdos que preciso estudar estivessem bem organizadas.</p>
                <p class="text-center">Dessa forma resolvi dois problemas em um só, pois além das matérias organizadas da forma que eu precisava, fiz o trabalho de conclusão de curso do CS50 que a proposito foi um excelente curso do início ao fim.</p>
                <p class="text-center">Recomendo o CS50 a todos, pois foi um excelente curso que me deu uma base ótima para o mercado de trabalho ⭐️⭐️⭐️⭐️⭐️ </p>
    </div>

    
    <div class="text-center">
        <h2>Composição:</h2>
        <p>O site foi feito com</p>
    </div>

    
    <script>
        let el = document.querySelector('#textLink-sobre')
        el.classList.add('ativado')
        el.style['font-weight'] = 'bold'
        el.style.color = '#044884'

        let main = document.querySelector('main')
        main.classList.remove('container')
        main.style.width ='100%'
    </script>
{% endblock %}